@charset "UTF-8";
/**
 * Igloo Refrigerator Parts Inc Corporate site
 *
 * Main CSS file for the IRP Inc's corporate site 
 * 
 * @project		IRP Inc Corporate
 * @author		Design Team at IRP Inc
 * @copyright	2011 Igloo Refrigerator Parts Inc
 *
 * @colordef	#333; main text
 * @colordef	#999; help text (search)
 * @colordef	#1299b4; unvisited links
 * @colordef	#cdf2f8; navigation background
 * @colordef	rgba(18,153,180,.2); navigation selected
 * @colordef	#a1e0e9; navigation selected fallback
 * @colordef	#e1f4f7; box background blue
 * @colordef	#fffbeb; box background yellow
 * @colordef	#cecac5; dotted lines
 * @colordef	#b0daea; gradient box border
 * @colordef	#fffbeb; table background
 */

/**
 * Dependencies
 *
 * Importing reset file: reset.css
 */
 
/**
 * Table of contents
 *
 * Structure
 * Generic typography and lists
 * Global elements
 * Links
 * Forms
 * Tables
 * Visual media
 * Components
 * Reusable
 * One-offs
 */

/**
 * Structure
 *
 * Main section blocks
 *
 * @section structure
 */

.wrapper {
	width: 950px;
	margin: auto;
}
	
header {
	min-height: 38px;
	_height: 28px; /* HACK_IE_LTE_6: IE 6 incorrectly applies the height property as min-height and does not support min-height. */
	background: #cdf2f8;
	margin-top: 20px;
	margin-bottom: 40px;
}
	
#main {
	margin-bottom: 100px;
}
#pageHome #main {
	margin-top: -15px;
	position: relative;
}
	
#sec {
	margin-bottom: 100px;
	margin-top: 30px;
	position: relative;
}
#pageHome #sec {
	margin-top: -15px;
}
	
footer {
	background: #0f6080 url(i/footer-bkg.png) repeat-x;
	clear: both;
	padding-top: 30px;
}

/* Widths */
.span-6,
.span-9,
.span-12,
.span-18 {
	margin-right: 10px;
}
.span-6 {
	width: 230px;
}
.span-9 {
	width: 350px;
}
.span-12 {
	width: 470px;
}
.span-18 {
	width: 710px;
}

/**
 * Generic typography
 *
 * @section type
 */
 
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
h1 {
	font-size: 2.4em;
	margin-bottom: 10px;
}
h2 {
	font-size: 1.8em;
	margin-bottom: 12px;
}
h3 {
	font-size: 1.5em;
	margin-bottom: 10px;
}
h4 {
	font-size: 1.3em;
	font-weight: bold;
	margin-bottom: 10px;
}
h5 {
	font-size: 1.3em;
	border-bottom: 1px solid #cecac5;
	margin-bottom: 10px;
	padding-bottom: 5px;
}
h6 {
	font-size: 1.2em;
	text-transform: uppercase;
	letter-spacing: 1px;
	margin-bottom: 10px;
}
	
p, li, dt, dd {
	font-size: 1.3em;
	line-height: 1.4;
	margin-bottom: 12px;
}

blockquote p {
	font-size: 1.3em;
	font-style: italic;
	margin-bottom: 8px;
}
blockquote p:before {
	content: "‟";
}
blockquote p:after {
	content: "”";
}
blockquote cite {
	display: block;
	font-size: 1.3em;
}
blockquote cite:before {
	content: "—";
}

pre {
	background: #fffbeb;
	font: 1.3em/1.5 "Lucida Console", "Monaco", "Consolas", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
	overflow: scroll;
	margin: 28px 0;
	padding: 14px 10px;
	width: 90%;
}

/**
 * Global elements
 *
 * Elements that look the same cross-site
 *
 * @section global
 */

#skip {
    display: block;
    position: absolute;
    padding: 21px 22px;
    text-decoration: none;
    left: -9999px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#skip:hover, #skip:active, #skip:focus {
    background: #0f8096;
	border: none;
    color: #fff;
	font-size: 1.5em;
	position: absolute;
	top: 14px;
	left: 14px;
}

header h1 {
	margin-bottom: 0;
}

/* Main navigation */	
nav ul {
	list-style: none;
}
nav li {
	display: inline;
	font-size: 1.4em;
	font-weight: bold;
	margin-top: -35px;
	margin-bottom: 0;
}

/* Footer */
footer li {
	display: inline;
	font-size: 1.2em;
	margin-left: 13px;
}
.copy {
	font-size: 1.2em;
	padding-bottom: 350px;
}
#book {
	color: #fff;
	font-size: 1.2em;
	margin-bottom: 0;
	padding-bottom: 70px;
}

/**
 * Links
 *
 * Link states styles: link, visited, hover, active, focus
 *
 * @section links
 */

/* Generic links */
a:link, a:visited {
	border-bottom: 1px solid;
	color: #0c8198;
	font-weight: bold;
	text-decoration: none;
}
a:hover, a:active, a:focus {
	color: #0f6080;
}

/* Logo homepage link */
header h1 a:link, header h1 a:visited {
	border: none;
}

/* Main navigation links */
nav li a:link, nav li a:visited {
	border: none;
	color: #333;
	display: block;
	padding: 45px 8px 8px 8px;
}
nav li a:hover, nav li a:active, nav li a:focus {
	background: #1299b4;
	color: #fff;
}
nav .active a:link, nav .active a:visited {
	background: #a1e0e9;
	background: rgba(18,153,180,.2); /* Previous color should be updated if this one changes, as it is its fallback. */
}
nav .active a:hover, nav .active a:visited, nav .active a:focus {
	color: #333;
}

/* Headings links */
h2 a:link, h2 a:visited,
h3 a:link, h3 a:visited {
	font-weight: normal;
	border: none;
}
h2 a:hover, h2 a:active, h2 a:focus
h3 a:hover, h3 a:active, h2 a:focus {
	font-weight: normal;
	border: none;
}

/* serviceBox component links */
.serviceBox a:link, .serviceBox a:visited {
	border: none;
}
.serviceBox li a:link, .serviceBox li a:visited {
	background: #fff;
	display: block;
	padding: 8px 13px;
}
.serviceBox li a:after {
	content: " ›";
}

/* Book info paragraph links */
#book a:link, #book a:visited {
	color: #fff;
}
 
/**
 * Forms
 *
 * @section forms
 */

/* Generic form element styles */
fieldset {
	border: 1px solid #cecac5;
	padding: 14px 11px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
legend {
	font-size: 1.4em;
}
form ol {
	margin-left: 0;
	list-style: none;
}
label {
	display: block;
	margin-bottom: 4px;
}
label[for] {
	cursor: pointer;
	}
input[type=text],
textarea {
	border: 1px solid #cecac5;
	color: #333;
	font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.submit input,
button {
	color: #fff;
	background: #0f8096 url(i/btn.gif) repeat-x;
	border: 1px solid #0c6576;
	font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding: 7px 24px;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.submit input:hover,
button:hover {
	background: #0f8096;
	cursor: pointer;
}
.submit input:active,
button:active {
	top: 1px;
}

/* Search box form styles */
#search {
	background: #e1f4f7;
	border: 1px solid #b0daea;
	margin-bottom: 10px;
	padding: 0;
}
#search form {
	border: 1px solid #ecf8fa;
	padding: 6px 6px;
}
#search input {
	font: 1.2em "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #999;
}
#search input[type=search] {
	background: #fff url(i/icon-search.gif) no-repeat 4px center;
	border: none;
	padding: 5px 5px 5px 28px;
	width: 176px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
#search .touched {
	color: #333;
}
 
/**
 * Tables
 *
 * @section tables
 */

table {
	background: #fffbeb;
	font-size: 1.3em;
	width: 100%;
}
td, th {
	border-bottom: 1px solid #fff;
	border-left: 1px solid #fff;
	text-align: center;
	padding: 14px 18px;
}
th {
	background: #ffe67d url(i/th-bkg.png) repeat-x;
}
tbody th,
tfoot th {
	background: #ffe67d;
}
thead th,
tfoot td {
	font-weight: bold;
}
table b {
	font-size: 1.4em;
}
th:empty, td:empty {
	background: #FBFDFC;
	border: none;
}

/**
 * Visual media
 *
 * Styles for images and video
 *
 * @section visual-media
 */

/* Generic media styles */
img {
}

/* col3 component image styles */
.col3 img {
	border: 4px solid #fff;
	margin-bottom: 8px;
}
 
/**
 * Components
 *
 * @section components
 */

/* Sections */
section {
	border-bottom: 1px dotted #cecac5;
	padding-bottom: 18px;
	margin-bottom: 16px;
}
#sec section {
	border-bottom: none;
	padding: 0;
	margin-bottom: 10px;
}

/* Mastheads */
#masthead {
	margin-top: -20px;
	margin-top: 0; /* HACK_IE_LTE_6: Navigation is partially hidden on IE 6 without this property. */
	padding-top: 20px;
}

/* Banners */
.banner {
	height: 190px;
	padding: 0 0 0 160px;
}

/* Text Intro component */
#top {
	clear: both;
	overflow: visible;
	padding-bottom: 0;
}
.intro p {
	font-size: 1.4em;
}
.cta {
	background: #e1f4f7;
	width: 208px;
	padding: 14px 11px;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	border-radius: 4px 4px 0 0;
}

/* Basic Box component */
.box {
	background: #fffbeb;
	padding: 14px 11px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* About box component. Inherits from Basic Box component. */
#aboutBox {
	background: #cdf2f8 url(i/about-box.png) no-repeat center bottom;
}

/* Services Box component. Inherits from Basic Box component. */
.serviceBox {
	background: #fff url(i/box-grad.jpg) repeat-x left bottom;
	border: 1px solid #b0daea;
	overflow: hidden;
	height: 1%;
}
.serviceBox ul {
	list-style: none;
	margin-left: 0;
}
.serviceBox li {
	border-top: 1px solid #eef9fb;
	margin: 0;
	width: 100%;
}
.serviceBox li:first-child a {
	border-top: none;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-top-left-radius:4px;
	-webkit-border-top-right-radius:4px;
	border-radius: 4px 4px 0 0;
}
.serviceBox li:last-child a {
	-moz-border-radius: 0 0 4px 4px;
	-webkit-border-bottom-left-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	border-radius: 0 0 4px 4px;
}

/* 3-column Articles component */
.col3 {
	background: #fffbeb;
	padding: 14px 10px;
	border: none;
}
.col3 article {
	border-right: 1px dotted #cecac5;
	padding-right: 10px;
	margin-right: 10px;
	width: 216px;
}
.col3 article:last-child {
	border: none;
	padding-right: 0;
	margin: 0;
}
.col3 .lastArt { /* HACK_IE_LTE_8: Same as above for IE 8 and below (IE 8 and below don't support the :last-child pseudo-class). */
	border: none;
	padding-right: 0;
	margin: 0;
}
.col3 article time {
	color: #848484;
	font-size: 1.2em;
}

/* Buttons and Call To Action component */
.button:link, .button:visited {
	color: #fff;
	background: #0f8096 url(i/btn.gif) repeat-x;
	border: 1px solid #0c6576;
	font-size: 1.4em;
	padding: 7px 18px;
	position: relative;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
	box-shadow: 0 1px 0 0 rgba(0,0,0,.25);
}
.button:hover, .button:active, .button:focus {
	background: #0f8096;
}
.button:active {
	top: 1px;
}
.cta .button {
	display: block;
}
table .button:link, table .button:visited {
	font-size: 1em;
}

/**
 * Reusable
 *
 * Modular classes that can be applied to other elements
 *
 * @section reusable
 */

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.clearfix { /* HACK_IE_LTE_7: IE 7 and below don't support the :after pseudo-element (above). */
	zoom: 1;
}

.fLeft {
	float: left;
}
.fRight {
	float: right;
}

.last {
	margin-right: 0;
}

.accessibility {
	position: absolute;
	text-indent: -9999px;
}
 
/**
 * One-offs
 *
 * @section oneoffs
 */

/* Planet homepage banner */
.planet {
	background:url(i/hp-banner01.jpg) no-repeat center 20px;
}
.planet h2 {
	font-size: 4.8em;
	margin-bottom: 0;
}
.planet p {
	font-size: 1.6em;
	padding-bottom: 6px;
}

/* Best Engineering Award banner box */
#bestEngAward {
	border: 1px solid #fce8b8;
	background: #fff;
	padding: 23px 20px;
}
#bestEngAward h2 {
	color: #fcb61a;
	font: 3em/1.1 Impact, "Helvetica Compressed", "Helvetica Inserat", Arial Narrow, Tahoma, Geneva, "MS Sans Serif", sans-serif;
	/* font-size-adjust: 0.65; */
	margin-bottom: 20px;
	text-transform: uppercase;
}
#bestEngAward p {
	margin-bottom: 0;
	width: 100%;
}
#bestEngAward p a:link, #bestEngAward p a:visited {
	border: none;
}
#bestEngAward p a:after {
	content: " ›";
}
#bestEngAward blockquote {
	background: url(i/blockquote.gif) no-repeat;
	color: #0f6080;
	margin: 0 25px 0 0;
	padding: 3px 0 0 40px;
	width: 321px;
}
#bestEngAward blockquote p {
	font-size: 1.6em;
	font-style: normal;
	margin-bottom: 3px;
}
#bestEngAward blockquote p:before {
	content: "";
}
